.main-page-post-container {
  margin: 0 25px 30px 0;
}

.main-page-post-container h2 {
  background: #4ECDC4;
  height: 40px;
  font-size: 1.20em;
  line-height: 40px;
  padding-left: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.main-page-post-container h2 a {
  color: #fff;
  text-shadow: 1px 1px 0 #999;
}

.main-page-post-container h2 a:hover {
  color: #1A535C;
  text-decoration: none;
}

.main-page-post-container .latest-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.main-page-post-container .latest-container .each-post {
  width: 33%;
  margin-bottom: 10px;
}

.main-page-post-container .latest-container .each-post img {
  width: 100%;
}

.main-page-post-container .latest-container .each-post a {
  display: block;
  padding-left: 5px;
  overflow: hidden;
}

