#center{
  display: flex;
  height: 550px;
  justify-content: center;
  align-items: center;

  #signin{
    width: 320px;
    background: #fff;
    box-shadow: 0 5px 30px #ddd;
    border-radius: 15px;
    padding: 30px;
    
    button{
      color: #fff;
    }
  }
}